body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

a {
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(tomato, orange);
    border-radius: 20px;
    color: white;


}

.flexible-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.half-width {
    width: 50%;


}

.recipies {
    text-align: center;
    margin-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
}

.bg {
    background-image: url(images/shapes/7.png);
}

.image-width {
    width: 90%;

}

.shadow {
    width: 40%;
    box-shadow: 10px 20px 30px gray;

    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    padding-left: 30px;
    padding-top: 30px;

}

.last {
    display: flex;
    margin-top: 50px;
    margin-left: 88px;
    border-radius: 10px;
    width: 1145px;
    height: 200px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.last h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;

}

.count {
    width: 33%;
    text-align: center;




}




footer {
    color: white;
    background-color: black;
    text-align: center;
    height: 200px;
}

footer h3 {
    padding-top: 40px;
}