body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

a {
    text-decoration: none;
    padding: 10px 20px;
    background-image: linear-gradient(tomato, orange);
    border-radius: 20px;
    color: white;


}

.flexible-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.half-width {
    width: 50%;


}

.recipies {
    text-align: center;
    margin-bottom: 50px;
    padding-left: 20%;
    padding-right: 20%;
}

.bg {
    background-image: url(images/shapes/7.png);
}

.image-width {
    width: 90%;

}

.shadow {
    width: 40%;
    box-shadow: 10px 20px 30px gray;

    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    padding-left: 30px;
    padding-top: 30px;

}